

@media (max-width: $breakpoint-tablet) {
  header {
    width: 100%;
    position: fixed;
    padding: 0;
    .container {
      margin: 0;
    }
    height: $header-height-mobile;
    .logo {
      img {
        height: $header-height-mobile - $container-padding-mobile;
        margin: math.div($container-padding-mobile, 2);
      }
      height: $header-height-mobile;
      width: auto;
    }
    #qtk_menu {
      display: flex;
      position: fixed;
      top: 0;
      left: $menu-offscrean-position;
      width: 100dvw;
      height: 100dvh;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      z-index: 999;
      background-color: $color-white;
      gap: $spacing-medium;
      transition: left $transition-mobile;
      a {
        font-size: 2em;
        margin-right: $spacing-xlarge;
      }
      &.active {
        left: 0;
      }
    }
  
    #qtk_burger {
      display: flex;
      margin: $container-padding-mobile;
    }
  }

  aside {
    top: $header-height-mobile;
    height: 100%; // Full height minus header
    position: fixed;
  }

  body {
    max-width: none;
    min-width: 100dvw;
    width: fit-content;
  }

  main {
    padding-top: $header-height-mobile + $container-padding-mobile !important;
  } 
}
