@media (max-width: $breakpoint-tablet) {
    #qtk_sidebar_switcher {
        display: block;
    }

    #qtk_aside {
        width: 100dvw;
        height: 100dvh;
        z-index: 1001;
        left: -100%;
        transition: left $transition-mobile;
        &.active {
            left: 0;
        }
    }

    aside ~ main {
        margin-left: 0 !important;
    }
}
