@media (max-width: $breakpoint-tablet) {
    #qtk_menu {
        display: flex;
        position: fixed;
        top: 0;
        left: $menu-offscrean-position;
        width: 100dvw;
        height: 100dvh;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        z-index: 1001;
        background-color: $color-white;
        gap: $spacing-medium;
        transition: left $transition-mobile;
        a {
            font-size: 2em;
            margin-right: $spacing-xlarge;
        }
        &.active {
            left: 0;
        }
    }

    #qtk_burger {
        display: flex;
        margin: $container-padding-mobile;
    }
}