// Mixin for basic button styles
@mixin button-base {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  font-family: $primary-font;
  border-radius: $border-radius - calc($border-radius / 2);
  border: 2px solid;
  transition: filter $transition, background-color $transition, color $transition, box-shadow $transition, transform $transition;
  text-align: center;
  cursor: pointer;

  // Button press effect
  &:active {
    filter: brightness(120%);
    transform: translateY(1px);
  }

  &:focus {
    outline: none; 
    box-shadow: $shadow-outline;
  }
}

// Mixin for hover effect
@mixin button-hover($bg-color, $text-color) {
  &:hover {
    background-color: $bg-color;
    color: $text-color;
  }
}

// Mixin for creating button options
@mixin button-variant($bg-color, $text-color: $color-white) {
  background-color: $bg-color;
  color: $text-color;
  border-color: $bg-color;

  @include button-hover($color-white, $color-black);

  &.outline {
    background-color: transparent;
    color: $bg-color;
    border-color: $bg-color;

    @include button-hover($bg-color, $text-color);
  }
}

// Basic button styles
.button {
  @include button-base;
  @include button-variant($color-black);

  // Button options
  &.black {
    @include button-variant($color-black);
  }

  &.primary {
    @include button-variant($color-primary);
  }

  // Archived
  // &.secondary {
  //   @include button-variant($color-secondary);
  // }

  &.danger {
    @include button-variant($color-danger);
  }
}