button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  font-family: $primary-font;
  color: $color-white;
  background-color: $color-black;
  border-radius: $border-radius - calc($border-radius / 2); // Adjusted border radius for buttons
  border: 2px solid $color-black;
  transition: filter $transition, background-color $transition, color $transition, box-shadow $transition, transform $transition;
  text-align: center;
  cursor: pointer;
  &:active {
    filter: brightness(120%); // Button press effect
  }
  &:focus {
    outline: none; 
    box-shadow: $shadow-small; // Custom focus shadow
  }

  &.button {
  
    &:hover {
      background-color: $color-white;
      color: $color-black;
    }
  
    &:active {
      transform: translateY(1px); // Button press effect
    }
  
    
  
    // Danger button style variation
    &.danger {
      background-color: $color-danger;
      border: 2px solid $color-danger;
  
      &:hover {
        background-color: $color-white;
        color: $color-black;
      }
    }
    
    // Secondary button variation with gray color
    &.secondary {
      background-color: $color-gray-dark;
      border: 2px solid $color-gray-dark;
  
      &:hover {
        background-color: $color-white;
        color: $color-black;
      }
    }
  
    // Outline button variation
    &.outline {
      background-color: transparent;
      color: $color-black;
      border: 2px solid $color-black;
  
      &:hover {
        background-color: $color-black;
        color: $color-white;
      }
    }
  }
}